{% extends 'base.html.twig' %}
{% block meta_title %}
    Pokemon
{% endblock meta_title %}
{% block content %}
<section class="allArticle">

    {% for pokemon in pokemons %}

        <article class="myArticle">
            <h1 class="h1_pokemon">{{ pokemon.title }}</h1>
            {# <p>{{ pokemon.description }}</p> #}
            {# <p>{{ pokemon.type }}</p> #}


            <div class="img_poke">
                <img src="{{ pokemon.image }}" alt="">
            </div>
            <div class="crud_pokemon">
                <a href="{{ path("show_pokemon_bdd",{id: pokemon.id}) }}">Voir le detail</a>
                <a href="{{ path("delete_pokemon_bdd",{id: pokemon.id}) }}">Supprimer le pokemon</a>
                <a href="{{ path("update_pokemon_bdd",{id: pokemon.id}) }}">Modifier le pokemon</a>
            </div>

        </article>

    {% endfor %}
</section>

{% endblock %}